*{
    margin: 0;
    padding:0;
    font-family: 'Athiti', sans-serif;
}

html,body{
    height: 100%;
}

body{
    background-color: #012623;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:#fff;

    .title{
        font-weight: 600;
        font-size: 40px;
    }

    .content{
        font-weight: 200;

         span{
            color:#CED3F2;
            font-weight: 400;
         }
    }
}


.navbar {
    padding: 1em;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
    width: 800px;
    border-radius: 5px;

    .btn, input{
        height:40px; 
        margin-right: 1em;
        width:20%;
        border-radius: 5px;
    }

    color{
        padding: 2em;
        border-radius: 5px;
    }
}

.container{
    // create a variable pour changer le repeat de la grille
    --size:4;
    background-color: #0D0D0D;
    width: 800px;
    border-radius: 5px;
    height:800px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 3px;
    padding: 3px;

    .pixelDraw{
        background-color: #262626;
        border-radius: 2px;

    }
}

